{% extends "base.html" %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    <p>
        <img src="{{ image_file }}" width="120" height="120">
        {{ form.hidden_tag() }}
        {{ form.file }}
    </p>
    {% for error in form.file.errors %}
    <span style="color: red;">[{{error}}]</span>
    {% endfor %}
    <p>
        {{form.username.label}}<br>
        {{form.username(size=32)}}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
    </p>
    <p>
        {{form.about_me.label}}<br>
        {{form.about_me(cols=50, rows=4)}}<br>
        {% for error in form.about_me.errors %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
    </p>
    <input type="submit" >
</form>
<p>filename:</p>
{{ filename }}
<p>username:</p>
{{ current_user.username }}
{% endblock %}